certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
curl_cffi==0.7.1
defusedxml==0.7.1
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
Py3AMF==0.8.12
pycparser==2.22
Pygments==2.18.0
requests==2.32.3
rich==13.8.1
urllib3==2.2.3
Pymem==1.13.1
